<html>


    <head>


        <title>CRNN + CRAFT Model  as Flask API </title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>


         <h1>Text Scene recognition </h1>
         <form action ="/predict" method = "post" enctype = "multipart/form-data">
             <input type = "file" name = "image" value = "Upload">
             <input type = "submit" value="Predict">{% if label %} {{ label }} {% endif %}
         </form>
     </body>
</html>
